<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Not Found</title>
    <style>
      body {
        background-color: yellowgreen;
      }
      h1 {
        color: maroon;
      }
    </style>
  </head>

  <body>
    <h1 align="center">404 | Page Not Found</h1>
    <button><a href="/">Go to Home</a></button>
  </body>
</html>
